nav {
  font-size: 100%;
  background-color: #BACC64;
}

body {
  background: #F6FFC9;
}

div.jumbotron {
  background: #757F3E;
}



a:link {
  color: #757F3E;
}

a:active {
  color: #757F3E;
}

a:visited {
  color: #757F3E;
}

a:hover {
  color: #7B7F65;
}

a {
  color: inherit;
}


body {
  font-family: "Avenir Next";
  font: #7B7F65;
}

figure figcaption {
  text-align: center;
  font-style: italic;
}


h1 {
  font-size: 250%;
}

p {
  font-size: 120%;
  padding top: 30px;
  padding bottom: 30px;
}

p.indent {
  font-style: italic;
  margin-left: 2em;
}

h1, h3 {
  padding-top: 30px;
  padding bottom: 30px;
}

p, h3, figcaption {
  padding-top: 10px;
  padding-bottom: 10px;
}

ul {
  font-size: 100%;
}

img {
  margin: 15px;
}

img.block {
  margin: 15px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

img, figcaption {
  padding-top: 5px;
}
