nav {
  font-size: 90%;
}

a:link {
  color: #483D8B;
}

a:active {
  color: #483D8B;
}

a:visited {
  color: #483D8B;
}

a:hover {
  color: #000000;
}

a {
  color: inherit;
}

h1 {
  font-size: 300%;
}

p {
  font-size: 130%;
}
