nav {
  font-size: 100%;
}

body {
  background: #F6FFC9;
}

div.jumbotron {
  background: #E9FF70;
}

ul.av nav-pills pull-right {
  background: #E9FF70;
}

a:link {
  color: #483D8B;
}

a:active {
  color: #483D8B;
}

a:visited {
  color: #483D8B;
}

a:hover {
  color: #000000;
}

a {
  color: inherit;
}


body {
  font-family: "Avenir Next";
}

h1 {
  font-size: 250%;
}

p {
  font-size: 120%;
  padding top: 30px;
  padding bottom: 30px;
}

p1 {
  font-style: italic;
}

h1, h3 {
  padding-top: 30px;
  padding bottom: 30px;
}

p, h3 {
  padding-top: 10px;
  padding-bottom: 10px;
}

ul {
  font-size: 100%;
}

img {
  margin: 15px;
}
